body {
    font-family: 'Roboto', serif;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 5vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh;
}

/* Style for the board */
#gameBoard {
    width: 50vmin;
    height: 50vmin;
    margin: auto;
    table-layout: fixed;
    transition: border-radius 0.5s ease;
}

/* Style for circle cells */
.circle {
    border-radius: 50%;
}

/* You may need to adjust the size of the cells to ensure circles fit well */
#gameBoard td {
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
    transition: border-radius 0.5s ease, border-color 0.5s ease;
}

#gameBoard td.circle {
    border-radius: 50%;
    border-color: rgba(211, 211, 211, 0.6);
}

#clickCount {
    text-align: center;
    margin-top: 10px;
    font-size: 5vh;
    color: #333;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for the toggle switch */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 40px;
    width: fit-content;
}

#toggleLabel {
    font-size: 2vh;
    margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4vh;
    height: 2vh;
    /*max-width: 70px;
    max-height: 36px;*/
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 2vh;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.8vh;
    width: 1.8vh;
    left: 0.1vh;
    bottom: 0.1vh;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(2vh);
}
